<style lang="scss" rel="stylesheet/scss">
    .sk-rotating-plane {

        width: 20px;
        height: 20px;
        background-color: red;
        // margin: 40px auto;
        display: inline-block;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
        animation: sk-rotatePlane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotatePlane {
        0% {
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }

    @keyframes sk-rotatePlane {
        0% {
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        }
        50% {
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        }
        100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }

    //mODAL

    .backdrop, .modal-wrapper {
        height: 100%;
        width: 100%;
    }

    .backdrop {

        z-index: 999;
        background: rgba(0, 0, 0, 0.5);
        right: 0;
        top: 70px;
        position: fixed;
        .modal-wrapper {
            display: flex;

            padding: 150px;
            left: 0;
            z-index: 999999999999;
            overflow-y: scroll;
            justify-content: center;
            align-items: center;
            .modal-content {
                transition: all .5s;
                min-width: 200px;
                margin-top: 200px;
                min-height: 200px;
                // padding: 120px;
            }
            .actions {
                background: white;
                display: flex;
                flex-direction: column;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                position: fixed;
                font-size: 24px;
                border: none;
                padding: 10px 10px;
                button {
                    margin-bottom: 10px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }

        }

    }

    .loading {
        position: absolute;
        right: 0;
        display: flex;
        z-index: 9999;
        height: 100%;
        align-items: center;
        justify-content: center;

        width: 100%;
        background: rgba(0, 0, 0, .5);
        span {
            color: white;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: .5em;
        }
    }
</style>

<template>
    <div class="media-list">
        <div class="form-group form-inline">
            <input type="file" class="form-control" @change="onFileChange" ref="files" multiple>
            <button class="btn btn-success" @click="sendFiles" :disabled="isUploading">Start Upload</button>
            <div v-show="isUploading" class="sk-rotating-plane"></div>

        </div>

        <file-manager
                :urlPrefix="urlPrefix"
                :files="fileList.files"
                fileSizeKey="state.size"
                :folders="fileList.folders"
                :moveToDir="changeDir"
                :moveUp="moveUp"
                :currentPath="currentPath"

        >
        </file-manager>

        <!-- Temp Modal -->
        <div class="backdrop" v-if="imageToCrop">
            <div class="modal-wrapper">
                <div class="actions">
                    <button type="button" class="btn btn-danger btn-xs" @click="abortCrop">Abort</button>
                    <button class="btn btn-success btn-xs" @click="loadCropInfos">Do it</button>
                </div>
                <div class="modal-content">
                    <div v-show="croppingInProgress" class="loading">
                        <span>Loading</span>
                    </div>

                    <Cropper ref="cropper"
                             :src="imageToCrop"
                             :zoomable="false">
                    </Cropper>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import { mapGetters, mapActions } from 'vuex'
    import Cropper from 'vue-cropperjs'
    import { omit } from 'lodash'
    import bus from '../../components/FileManager/events.js'
    import FileManager from '../../components/FileManager/FileManager.vue'
    export default {
        name: 'MediaIndexView',
        computed: {
            fileList() {
                return {
                    folders: this.$store.getters[ 'media/GET_MEDIA' ].filter((val) => {
                        return val.isFolder
                    }),

                    files: this.$store.getters[ 'media/GET_MEDIA' ].filter((val) => {
                        return !val.isFolder
                    })
                }
            }
        },
        components: {
            FileManager,
            Cropper
        },
        data() {
            return {
                urlPrefix: '/uploads/',
                files: new FormData(),
                isUploading: false,
                currentPath: [],
                activeDir: '',
                changingDir: false,
                imageToCrop: '',
                isDrageMode: false,
                croppingInProgress: false,
                finalCrop: {
                    filePath: ''
                }
            }
        },
        methods: {
            ...mapActions({
                startUpload: 'upload/START_UPLOAD',
                startCrop: 'media/CROP_IMAGE',
                loadMedia: 'media/FETCH_MEDIA'
            }),
            abortCrop() {
                if (confirm('Abort?')) {
                    this.imageToCrop = false
                }

            },
            loadCropInfos() {
                this.croppingInProgress = true
                this.finalCrop = Object.assign(this.finalCrop,
                        omit(this.$refs.cropper.getData(false), [ 'rotate', 'scaleX', 'scaleY' ]))
                this.startCrop(this.finalCrop).then(result => {
                    this.imageToCrop = false
                    this.croppingInProgress = false

                }).catch(e => {
                    this.croppingInProgress = false

                })
            },
            cropper(file) {
                const possibleExtenstion = [
                    'jpg',
                    'jpeg',
                    'gif',
                    'png'
                ]
                //if this.currentpath empty we are in the root dir
                var currentFile = `${this.urlPrefix}${this.currentPath}/${file.name}`
                this.finalCrop.filePath = currentFile.split(this.urlPrefix).pop() //Remove the root from the file we dont need we could to this on the server as well but fuck..
                if (possibleExtenstion.includes(file.name.split('.').pop())) {
                    this.imageToCrop = currentFile
                }
            },
            changeDir(e, dir) {
                this.currentPath.push(dir)
            },
            moveUp() {
                this.currentPath.splice(-1, 1)
            },
            sendFiles() {
                this.isUploading = true;
                this.startUpload(this.files).then(() => {
                    this.$refs.files.value = ''
                    this.files.delete('file')
                    this.isUploading = false
                })
            },
            onFileChange(e) {
                for (let file of e.target.files) {
                    this.files.append('file', file)
                }
            },
        },
        beforeMount() {
            this.loadMedia()
        },
        watch: {
            'currentPath'(val) {
                this.changingDir = true;
                this.loadMedia(val.join('/')).then(() => {
                    this.changingDir = false
                })
            }
        },
        mounted() {
            bus.$on('openCropper', this.cropper)
        }

    }
</script>
