<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <div id="app">
        <Navigation></Navigation>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>

</template>

<script type="text/babel">
    import Navigation from './components/Navigation/Navigation.vue'
    import './assets/main.scss'
    export default {

        components: {
            Navigation
        }
    }

</script>

