<style lang="sass" rel="stylesheet/scss">
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s ease;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }

    .child-view {
        position: absolute;
        transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }

    .slide-left-enter, .slide-right-leave-active {
        opacity: 0;
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0);
    }

    .slide-left-leave-active, .slide-right-enter {
        opacity: 0;
        -webkit-transform: translate(-30px, 0);
        transform: translate(-30px, 0);
    }
</style>

<template>
    <div class="wrapper">
        <headline title="Read some stuff" slogan="Hello World"></headline>

        <div class="page-content container">
            <!--Todo: Some much more work -->
            <div class="columns">
                <div class="column is-7">
                    <!-- Todo: Other Transitions effect -->
                    <transition name="fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
                <div class="column is-4 is-offset-1">
                    <h3>
                        Categories
                    </h3>
                    <div class="sidebar">
                        <categories :categories="blog.categories"></categories>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import Headline from '../../components/Headline.vue'
    import Categories from '../../components/Blog/Categories.vue'
    /**
     * higher order COmponent
     */
    export default {
        name: 'BlogView',
        computed: {

            blog() {
                return {
                    categories: this.$store.getters.getCategories
                }
            }
        },

        preFetch: function (store) {
            return Promise.all([ store.dispatch('getCategories'),
                store.dispatch('setHeadline', { title: 'Blog', slogan: 'Read this shit' })
            ])
        },
        mounted() {
            if (this.$root._isMounted) {
                this.$store.dispatch('setHeadline', { title: 'Blog', slogan: 'Read this shit' })
                this.$store.dispatch('getCategories')
            }
        },
        components: {
            Headline,
            Categories
        }
    }
</script>
