<style lang="sass" rel="stylesheet/scss">

    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-out .5s;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes bounce-out {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(0);
        }
    }

    .list-item {
        display: inline-block;
        transform: translateY(0px);
    }

    .list-enter-active, .list-leave-active {
        transition: all .4s;
    }

    .list-enter, .list-leave-active {
        opacity: 0;
        transform: translateY(30px);
    }
</style>

<template>
    <div class="blog-list">
        <transition-group style="transition:all .5s" tag="div" name="bounce" v-show="!isLoading">
            <Post style="transition:all .5s" v-for="post in posts" :key="post.id" :createdAt="post.created_at"
                  :title="post.title"
                  :slug="post.slug"
                  :excerpt="post.excerpt"></Post>
        </transition-group>
    </div>
</template>

<script type="text/babel">
    // import BlogList from '../../components/Blog/BlogList.vue'
    import Post from '../../components/Blog/Post.vue'

    function fetchPosts (store) {
        var category = store.state.route.params.category || false
        if (!category) {

            return store.dispatch('fetchInitialPosts')
        } else {
            return  Promise.all([
                    store.dispatch('fetchPostsByCategory', category),
                    store.dispatch('setHeadline', {
                        title: category,
                        slogan: 'Read this shit'
                    })
            ])
                /*store.dispatch('setHeadline', {
                    title: category,
                    slogan: 'Read this shit'
                })*/

        }
    }

    export default {

        name: 'BlogList',
        computed: {
            posts() {
                this.isLoading = false
                return this.$store.getters.getPosts //Comes from main blog view
            }
        },

        data() {
            return {
                isLoading: true
            }
        },
        preFetch: fetchPosts,
        beforeMount() {
            if (this.$root._isMounted) {

                fetchPosts(this.$store)
            }

            console.log('beforeMOunt')
            this.$nextTick(() => {

            })
        },

        components: {
            Post
        },
        watch: {
            '$route'  (to, from)  {

                /*  this.$store.dispatch('setHeadline', {
                 title: this.$store.state.route.params.category,
                 slogan: 'Read this shit'
                 })*/

                fetchPosts(this.$store)
            }
        }

    }
</script>
