<style lang="sass" rel="stylesheet/scss">

</style>

<template>

    <article class="single-post" v-if="post">
        <header class="post-header">
            <post-title :title="post.title"></post-title>
        </header>
        <section v-html="post.content_html" class="post-content">
        </section>
    </article>

</template>

<script type="text/babel">
    const inBrowser =
            typeof window !== 'undefined' &&
            Object.prototype.toString.call(window) !== '[object Object]'


    import mediumZoom from 'medium-zoom'
    if (inBrowser) {
        var imagesLoaded = require('imagesloaded')
    }


    import PostTitle from '../../components/Blog/Title.vue'
    export default {
        name: 'SinglePost',
        computed: {
            post() {
                return this.$store.getters.getPost
            }
        },

        data() {
            return {
                mediumZoom: false
            }
        },

        preFetch: function (store) {
            return store.dispatch('singlePost', store.state.route.params.slug)
        },
        beforeMount () {
            //when we not hit from the server direct wait for content
            if (this.$root._isMounted) {
                this.$store.dispatch('singlePost', this.$store.state.route.params.slug).then(() => {
                    this.attacheZoom()
                })
            } else {
                //Hitted from the server content should be here
                this.attacheZoom()
            }
        },

        components: {
            PostTitle
        },
        beforeDestroy() {
                this.mediumZoom.destroy()
                this.mediumZoom = false;
        },

        methods: {
            attacheZoom() {
                imagesLoaded(document.querySelectorAll('.post-content img'), () => {
                    this.mediumZoom = window.mediumZoom('.post-content img')
                })

            }
        }
    }
</script>
