<style lang="sass" rel="stylesheet/scss" scoped>
    .footer {
        background: #000;
        padding: 50px 0px;
        color: white;
        margin-top: 120px;

    }

    .button {
        font-family: 'Montserrat', sans-serif;
        background: #001bec;
        color: white !important;
        font-size: 18px;

        font-weight: 400;
        border-radius: 4px;
        padding: 10px 60px;
        will-change: box-shadow;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21), 0px 16px 28px 0px rgba(0, 0, 0, 0.22);

        }
    }
</style>

<template>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-6">test</div>
                <div class="column is-5 is-offset-1">
<p>Learn from fucking criticism. A good fucking composition is the result of a hierarchy consisting of clearly contrasting elements set</p>
                    <router-link to="contact" class="button">Kontakt</router-link>

                </div>
            </div>
        </div>
    </footer>
</template>

<script type="text/babel">
    import SimpleLink from '../components/Forms/SimpleLink.vue'
    export default {
        name: 'Footer',

    }

</script>

