<style lang="sass" rel="stylesheet/scss">
    .header {
        padding-top: 66px;
    }

    .icon-nav {
        text-align: right;
        svg {
            fill: #FFF;
        }
    }

    .intro {
        padding-top: 100px;
        align-items: flex-start;
    }

    .intro_text {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 700;
    }

    .headline {
        font-size: responsive 42px 120px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -0.042em;
        text-transform: uppercase;
    }

    .headline-text {
        margin-bottom: 150px;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>

<template>
    <div class="container">
        <div class="intro columns is-mobile">

            <div class="column is-9-mobile is-8-desktop headline-text">

                <h1 class="headline" ref="heading">

                    {{headline.title}}

                </h1>

                <p class="intro_text" v-if="headline.slogan">
                    {{headline.slogan}}
                </p>
            </div>

            <div class="column is-3-mobile is-4-desktop" style="display:flex; justify-content: flex-end;">
                <scroll-down target=".page-content"></scroll-down>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import { Scrambler } from '../libs/Scrambler';

    import ScrollDown from './ScrollDown.vue'
    export default {

        computed: {

            headline() {
                return this.$store.getters.getHeadline

            }

        },

        props: {
            title: {
                type: String,
                default: 'Enter some Headline for this site'
            },
            slogan: {
                type: String,
                default: 'Enter some slogan'
            },
        },
        data() {
            return {
                fade: true,

            }
        },

        name: "Headline",
        components: {
            ScrollDown
        },

        mounted() {

            this.scrambler = new Scrambler(this.$refs.heading, true)
        },
        watch: {
            'headline'(newVal, oldVal) {
                if (!this.scrambler.isRunning) {
                    this.scrambler.startScrambling(true, newVal.title)
                } else {
                 this.scrambler.stopScrambling()
                    this.scrambler.startScrambling(true, newVal.title)


                }
            }
        }
    }
</script>
