<style lang="sass" rel="stylesheet/scss">
    .logo {
        height: 25px;
        width: 125px;
        a {
            font-family: Roboto, sans-serif;
            color: white;
            text-transform: uppercase;
            font-size: 27px; ///
            letter-spacing: -0.04em;
            font-weight: 900;

        }
    }
    .header {
        margin: 50px 0;
    }
    .header-inner {
        align-items: center;
        justify-content: space-between;
    }

</style>

<template>
    <header class="header">
        <div class="container header-inner is-flex">
            <div class="logo">
                <router-link  to="/" exact>
                    <svg id="logo"  fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 57.3 12.8">
                        <path d="M4.8 8.2H3v4.6H0V0h5a5.6 5.6 0 0 1 3.6 1 3.4 3.4 0 0 1 1.2 3 4.2 4.2 0 0 1-.5 2 3.8 3.8 0 0 1-1.7 1.5l2.7 5.2H7zM3 6h2a1.8 1.8 0 0 0 1.4-.6A1.8 1.8 0 0 0 7 4 1.8 1.8 0 0 0 6.3 3 1.7 1.7 0 0 0 5 2.3H3V6zM19.7 7.4h-5v3h6v2.4h-9V0h9v2.4h-6V5h5v2.4zM32.5 12.8h-3l-4.6-8v8h-3.2V0h3l4.6 8V0h3v12.8zM38.8 8l-1.3 1.4v3.4h-3V0h3v5.6l1-1.6 3-4H45l-4.4 5.7 4.4 7h-3.7zM53.2 10.4H49l-.7 2.4H45L49.7 0h3l4.6 12.8H54zM49.7 8h2.8L51 3.6z"/>
                    </svg>
                </router-link>
            </div>
            <div class="navigation">
                <Navigation></Navigation>
            </div>
        </div>
    </header>
</template>

<script type="text/babel">
    import Navigation from './Navigation.vue'
    export default {
        name: 'PageHeader',
        components: {
            Navigation
        },
    }
</script>

