<style lang="sass" rel="stylesheet/scss">
    .image-effect {
        margin-bottom: 50px;
        .image {
            max-width: 100%;
            border-radius: 4px;
            box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
            &.link {
                display: block;
            }
        }

    }
</style>

<template>
    <div @mousemove="parallaxEffect" :style="{transform: transformPoster}" class="image-effect">

        <div v-if="!link" class="simple-image">
            <img class="image" src="https://s15.postimg.org/ujm4ps4gr/Zeichenfl_che_1.png">
        </div>

        <div v-else class="image-link">
            <router-link :to="link">
                <img class="image" src="https://s15.postimg.org/ujm4ps4gr/Zeichenfl_che_1.png">
            </router-link>
            </a>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'ParallaxImage',
        props: {
            src: {
                type: String,
                required: true
            },
            link: {
                type: String,
                required: false,
                default: '',
            },
            windowWidth: {
                required: true,

            },
            windowHeight: {
                required: true,
            }

        },

        data() {
            return {
                transformPoster: 0,
            }
        },
        methods: {
            parallaxEffect(e) {
                var w = this.windowWidth //window width
                var h = this.windowHeight //window height
                var offsetX = 0.5 - e.pageX / w
                var offsetY = 0.5 - e.pageY / h
                var offsetPoster = 23
                this.transformPoster = 'translateY(' + -offsetX * offsetPoster + 'px) rotateX(' + (-offsetY * offsetPoster) + 'deg) rotateY(' + (offsetX * (offsetPoster * 2)) + 'deg)'
            },

        },

    }

</script>

