<style lang="sass" rel="stylesheet/scss">
    @import '../assets/styles/mixins';

    .menu {
        @include mobile {
            background: black;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 99;
            display: flex;
            justify-content: center;

        }
    }

    .navigation-items {
        display: flex;
        @include mobile() {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        a {
            margin: 0 10px;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            font-size: 12px;
            position: relative;
            white-space: nowrap;
            display: inline-block;
            overflow-x: visible;

            &:hover {
                &:after {
                    transform: scale(1);

                }
            }
            &.active {
                &:after {
                    transform: scale(1);
                }
            }
            &:after {
                background:white;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                @include mobile() {
                    bottom:-5px;
                }
                bottom: -15px;
                height: 2px;
                width: 100%;
                transform-origin: right center;
                transform: scaleX(0);
                transition: transform .2s cubic-bezier(.165, .84, .44, 1);
            }

            &:last-child {
                margin-right: 0px;
            }
            //Navigation Item
            @include mobile() {
                color: white !important; //YES IMPORTANT!!!!!!!!!
                font-size: 26px;
                margin-bottom: 35px;
                font-weight: 700;
            }

            $hamburger-bar-height: 5px;
            $hamburger-bar-space: 5px;
            $hamburger-width: 30px;
            &.mobile {
                display: none;
                position: fixed;
                top: 20px;
                right: 20px;
                &:after {
                    content:none;
                }
                @include mobile() {
                    display: inline-block;
                    width: $hamburger-width;
                    span {

                        &:last-child {
                            animation-fill-mode: forwards;
                            animation-duration: .5s;
                            animation-name: dropfunRevert;

                        }
                        will-change: transform, opacity;
                        backface-visibility: hidden;
                        transition: transform .5s, opacity .3s;
                        background: white;
                        height: $hamburger-bar-height;
                        display: block;
                        width: 100%;
                        &:nth-child(1) {
                            margin-top: $hamburger-bar-space;
                        }
                        &:nth-child(2) {
                            margin-top: $hamburger-bar-space;
                        }
                        &:nth-child(3) {
                            margin-top: $hamburger-bar-space;
                        }
                    }
                }

                //Open
                &.open {

                    span {
                        &:last-child {
                            animation-fill-mode: forwards;
                            animation-duration: .5s;
                            animation-name: dropfun;
                        }
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            margin-top: -$hamburger-bar-height;
                            transform: rotate(-45deg);
                        }
                    }
                }

            }
        }

    }

    @keyframes dropfun {
        from {
            transform: translateY(100%);
            opacity: 1;
        }

        to {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    @keyframes dropfunRevert {
        from {
            opacity: 0;
        }

        to {

            opacity: 1;
        }
    }

</style>

<template>
    <div class="menu" :class="{'open' : showMobile}"> <!-- Todo Open only for mobile -->
        <nav class="navigation-items">
            <router-link v-for="item in NavigationItems" :exact="item.exact" :to="item.path">
                <Scrambler>{{item.name}}</Scrambler>
            </router-link>
            <a class="mobile" :class="{'open': showMobile}" href="!#" @click.prevent="toggleMobileNavigation">
                <span></span>
                <span></span>
                <span></span>

            </a>
        </nav>
    </div>

</template>

<script type="text/babel">

    export default {
        name: "Navigation",
        data() {
            return {
                showMobile: false,
                NavigationItems: [
                    { name: 'Home', path: '/', exact: true },
                    { name: 'Work', path: '/work' },
                    { name: 'Blog', path: '/blog' },
                    { name: 'Contact', path: '/contact' }
                ]
            }
        },
        methods: {
            toggleMobileNavigation() {
                this.showMobile = !this.showMobile
            }
        }
    }
</script>
