<style lang="sass" rel="stylesheet/scss">
    .mouse {
        width: 40px;
        height: 68px;
        border-radius: 17px;
        border: 2px solid;
        position: relative;
        .wheel {
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -3px;
            width: 6px;
            height: 12px;
            border-radius: 15px;
            animation: wheel 1.3s linear 0s infinite normal none;
        }
    }

    .mouse-trigger {
        transition: all 1.5s;
        &:hover {
            transform: translateY(20px);
        }
    }

    @keyframes wheel {
        0% {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
        40% {
            opacity: 1;
            transform: translate3d(0, 20px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 0
        }
    }
</style>

<template>
    <a href="#down" @click.prevent="goDown" class="mouse-trigger">
        <div class="mouse pulsein">
            <div class="wheel"></div>
        </div>
    </a>
</template>

<script type="text/babel">
    const inBrowser = typeof window !== 'undefined'
    const jump = inBrowser ? require('jump.js') : undefined

    export default {
        props: {
            target: {
                required: true,
                type: String,
            },
            offset: {
                type: Number,
                default: 0
            }
        },
        methods: {
            goDown() {
                jump(this.target, {
                    offset: this.offset
                })
            }
        }
    }
</script>

