<style lang="sass" rel="stylesheet/scss">
    @import '../assets/styles/mixins';
    .service-box {
        position: relative;
        margin-bottom: 120px;
        @include mobile() {
            margin-bottom: 70px;
        }
        &:last-of-type {
            margin-bottom: 70px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .icon {
            position: absolute;
            top: -50%;
            z-index: -1;
            left: -20%;
            img {
                z-index: -1;
                display: inline;
                height: 150px;
                opacity: .2;
            }
        }
    }
</style>
<template>
    <div data-aos="fade-down-right" data-aos-once="true" class="service-box">
        <h3>{{title}}</h3>
        <p>{{text}}</p>
        <div class="icon is-hidden-mobile">
            <img :src="svgPath" :alt="title">
        </div>
    </div>
</template>
<script>
    export default {
        name: 'ServiceBox',
        computed: {
            svgPath() {
                return require(`../assets/icons/${this.icon}.svg`)
            }
        },
        props: {
            icon: {
                type: String,
                required: true
            },
            title: {
                type: String,
                required: true
            },
            text: {
                type: String,
                required: true
            }
        }
    }
</script>
