<style lang="sass" rel="stylesheet/scss">

</style>

<template>
    <div class="author">
        <div v-if="simple">
        </div>
        <div v-else>
            Alt
        </div>
    </div>

</template>

<script type="text/babel">
    export default {
        name: 'Author',
        props: {
            simple: {
                type: Boolean,
                default: false,
            }
        }
    }
</script>
