<style lang="sass" rel="stylesheet/scss">
    ul {
        list-style-type:none;
    }
</style>
<template>
        <ul>
            <Category v-for="category in categories" :name="category.name" :slug="category.slug"></Category>
        </ul>
</template>

<script type="text/babel">
    import Category from './Category.vue'
    export default {
        props: {
            categories: {
                type: Array,
                required: true
            },
        },
        components: {
            Category
        },
    }
</script>
