<style lang="sass" rel="stylesheet/scss">
    .category-item {
        margin-bottom: 15px;
        a {
            color:white;

        }
    }
</style>

<template>
    <li class="category-item">
        <router-link  :to="categoryUrl" exact><Scrambler>{{name}}</Scrambler></router-link>
    </li>
</template>

<script type="text/babel">
    export default {
        name: "CategoryItem",
        computed: {
            categoryUrl() {
                return `/blog/category/${this.slug}`
            }
        },
        props: {
            name: {
                type: String,
                required: true
            },

            slug: {
                type: String,
                required: true
            },
            count: {
                type: Number,
                required: false, //Todo: later true
                default: 21,
            }
        }
    }
</script>
