<style lang="sass" rel="stylesheet/scss">
    @import '../../assets/styles/mixins';

    .single-post {
        border-bottom: 1px solid;
       margin-bottom:20px;
        padding-bottom:20px;

        img {
            max-width:100%;
        }
    }

    .post-footer {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .post-header {
        margin-bottom: 20px;

    }
</style>

<template>
    <article class="single-post">
        <header class="post-header">
            <h2>
                <router-link :to="url">
                    <Scrambler :once="true">{{title}}</Scrambler>
                </router-link>
            </h2>
            <time :datetime="createdAt">{{createdAt | date}}</time>
        </header>
        <section class="post-excerpt">
            <p>
                {{excerpt}}
            </p>
        </section>

        <footer class="post-footer">
            <router-link :to="url" class="btn  btn-sm alt valign">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                {{readMore}}
            </router-link>
        </footer>
    </article>
</template>

<script type="text/babel">
    import Author from './Author.vue'
    export default {
        name: 'Post',
        computed: {
            url() {
                return `/blog/${this.slug}`
            },
        },
        data() {
            return {
                readMore: 'Read more',
            }
        },
        props: {
            title: {
                type: String,
                required: true,
            },
            excerpt: {
                type: String,
                required: false
            },
            categories: {
                type: Array,
                //required: true
            },
            user: {
                type: Object,
                required: false
            },
            createdAt: {
                type: String,
                required: true
            },
            slug: {
                type: String,
                required: true
            },
        },
        serverCacheKey(props) {
            return props.createdAt;
        },
        components: {
            Author,

        }
    }
</script>
