
body.dark {
  color: #FFF;
  transition: color .1s;
  .navigation-items {
    a {
      color: #FFF;

      &:after {
        background: #fff;
      }

    }
  }

  .single-post {
    border-color: rgba(255, 255, 255, 0.2);

  }

  .anchor {
    border-color: rgba(255, 255, 255, .2) rgba(255, 255, 255, .2) transparent;

    &:hover {
      border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 1) transparent;

    }
  }
  .mouse {
    border-color: #FFF;
    .wheel {
      background: rgba(255, 255, 255, 1);
    }
  }
}

body.light {
  color: #000;
transition: all .7s;
  h1, h2, h3, h4, h5, h6 {
    color: #000; //white
  }



  #logo {
    fill: #000;
  }

  p {
    //   color: #000000; //white
  }
  .navigation-items {
    a {
      color: #000;

      &:after {
        background: #000;
      }

    }
  }
  a {
    color: #000;
  }

  a.btn {
    svg {
      fill: #000;
    }
  }

  .single-post {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .anchor {
    border-color: rgba(0, 0, 0, .2) rgba(0, 0, 0, .2) transparent;

    &:hover {
      border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) transparent;

    }
  }
  .mouse {
    border-color: #000;
    .wheel {
      background: rgba(0, 0, 0, 1);
    }
  }
  /* a.btn {
     color: #000;
     svg {
       fill: #000;
     }
   }*/

}