<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <title>{{title}}</title>
    {{#if style}}
        <link rel="stylesheet" href="/dist/styles.css">
    {{/if}}
</head>

<body class="{{bodyClass}} " style="{{#if bgColor}}background-color:{{bgColor.[0]}}{{/if}}">
{{{content}}}
<script>{{{state}}}</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i[ 'GoogleAnalyticsObject' ] = r;
        i[ r ] = i[ r ] || function () {
                    (i[ r ].q = i[ r ].q || []).push(arguments)
                }, i[ r ].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[ 0 ];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-84159441-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="/dist/client-vendor-bundle.js"></script>
<script src="/dist/client-bundle.js"></script>
</body>
</html>