<style lang="sass" rel="stylesheet/scss" scoped>


    a {
        display: inline-block;
    }

    .button {
        border: 1px solid transparent;
        font-weight: 400;
        border-radius: 4px;
        padding: 10px 60px;
        &.ghost {
            background: none;
            position: relative;
            z-index:999;
            &:before {
                content: '';
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: width .5s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

        }
    }


</style>

<template>
    <button
            v-if="!isLink"
            class="button"
            :type="buttonType"
            :style="{background, color}"
            :class="styleClass">{{text}}
    </button>

    <a v-else
       class="button"
       :style="{background, color, borderColor}"
       :class="styleClass">{{text}}
    </a>

</template>

<script type="text/babel">
    export default {
        name: 'ButtonComp',

        computed: {
            background() {
                if (this.styleClass === 'ghost')
                    return 'none'
                return this.fillColor
            },

            borderColor() {
                if (this.styleClass === 'ghost')
                    return this.fillColor

                return 'none';
            }
        },

        props: {
            isLink: {
                type: Boolean,
                required: false,
                default: false
            },
            text: {
                type: String,
                required: true
            },
            buttonType: {
                type: String,
                required: false,
                default: 'button',
            },
            styleClass: {
                type: String,
                required: false,
                default: 'fill',
                validator(val) {
                    var allowedStyles = [
                        'ghost',
                        'fill'
                    ]
                    if (allowedStyles.includes(val)) {
                        return val
                    } else {
                        console.error('Wrong styleClass using fallback "fill" possible:', allowedStyles)
                        return 'fill'
                    }

                }
            },
            color: {
                type: String,
                required: false,
                default: '#FFF'
            },

            fillColor: {
                type: String,
                required: false,
                default: '#001BEC',

            }

        }
    }

</script>

