<style lang="sass" rel="stylesheet/scss" scoped>

    .button {
        font-family: 'Montserrat', sans-serif;
        background: #001bec;
        color: white;
        font-size: 18px;
        //display:block;
        font-weight:400;
        border-radius: 4px;
        padding: 10px 60px;
        will-change: box-shadow;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21), 0px 16px 28px 0px rgba(0, 0, 0, 0.22);

        }
    }
</style>

<template>
    <a class="button">
        {{text}}
    </a>
</template>

<script type="text/babel">
    export default {
        name: 'SimpleLink',
        props: {
            text: {
                required: true,
                type: String
            }

        }
    }

</script>

