<style lang="sass" rel="stylesheet/scss">
    .form-group {
        margin-bottom: 40px;
        input[type=text], textarea {
            background: white;
            display: block;
            width: 100%;
            padding: 10px 15px;
            font-size: 24px;
            color: #001bec;
            outline: none;
            font-weight: 800;
            will-change: box-shadow;
            transition: box-shadow .3s;
            &:focus {
                box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.21), 0px 16px 28px 0px rgba(0, 0, 0, 0.22);
            }
        }
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:  rgba(0,27,236,0.5);

    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:  rgba(0,27,236,0.5);

        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:  rgba(0,27,236,0.5);
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:  rgba(0,27,236,0.5);

    }

</style>

<template>
    <div class="form-group">
        <input @input="onChange" :placeholder="placeholder" v-if="!isMultiLine" type="text">
        <textarea @input="onChange" :placeholder="placeholder" rows="4" v-else>
         </textarea>
    </div>
</template>

<script type="text/babel">
    export default {
        computed() {
        },
        props: {
            label: {
                type: String,
                required: false
            },

            placeholder: {
                type: String,
                required: false,
            },
            isMultiLine: {
                type: Boolean,
                required: false,
                default: false
            },
        },
        methods: {
            onChange() {
                this.$emit('input', event.target.value)
            }
        }

    }
</script>
