<style lang="sass" rel="stylesheet/scss">
    .contact-text {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 30px;
        &:after {
            margin-top: 30px;
            content: '';
            height: 2px;
            width: 50px;
            background: black;
            display: block;

        }
    }

    .contact-entry {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .contact-icon {
            background: white;
            display: flex;
            // height:56px;
            text-align: center;
            justify-content: center;
            min-width: 58px;
            border-radius: 100%;
            padding: 12px;

        }
        .contact-info {
            font-size: 28px;
            font-weight: bold;
            margin-left: 20px;
            a {
                transition: transform .5s;
                display: inline-block;
                &:hover {
                    color: red;
                    transform: translateX(5px);

                }

            }

        }
    }

</style>
<template>
    <div class="contact-form">
        <div class="columns">
            <div class="column is-6">
                <form @submit.prevent="postContact" method="post">
                    <text-field v-for="field in contactFields" :placeholder="field.placeholder"
                                :isMultiLine="field.multiline" v-model="contact[field.value]">
                    </text-field>
                    <button-comp type="submit" @click="postContact" text="Absenden2"></button-comp>
                    <button-comp href="http://www.google.de" :isLink="true" @click="postContact"
                                 text="Absenden2"></button-comp>
                    <button-comp href="http://www.google.de" color="#FFF" fillColor="#000" :isLink="true"
                                 styleClass="ghost" @click="postContact"
                                 text="Absenden2"></button-comp>

                </form>
            </div>
            <!--
                <div class="column is-5 is-offset-1">
                    <p class="contact-text">This design is fucking brilliant.
                        Practice won’t get you anywhere if you mindlessly fucking practice the same thing.</p>
                    <div class="contact-list">

                        <div class="contact-entry">
                            <div class="contact-icon">
                                <icon name="send" scale="2"></icon>
                            </div>
                            <div class="contact-info">
                                <a href="mailto:hello@renka.de" target="_blank">Twitter</a>

                            </div>
                        </div>
                        <div class="contact-entry">
                            <div class="contact-icon">
                                <icon name="twitter" scale="2"></icon>
                            </div>
                            <div class="contact-info">
                                <a href="#" target="_blank">Twitter</a>
                            </div>
                        </div>
                        <div class="contact-entry">
                            <div class="contact-icon">
                                <icon name="facebook" scale="2"></icon>
                            </div>
                            <div class="contact-info">
                                <a href="#" target="_blank">Facebook</a>
                            </div>
                        </div>
                    </div>

            </div>
    -->
        </div>
    </div>
</template>

<script type="text/babel">

    import TextField from '../../../components/Forms/TextField.vue'
    import ButtonComp from '../../../components/Forms/Button.vue'
    import { sendContact } from '../../../store/api'


    export default {

        name: "Contact",
        data() {
            return {

                contactErrors: {},

                contact: {},

                contactFields: [
                    {
                        label: 'Name',
                        placeholder: 'Bitte geben Sie einen Namen ein',
                        multiline: false,
                        value: 'name',
                        error: false
                    },
                    {
                        label: 'Email',
                        placeholder: 'Email',
                        multiline: false,
                        value: 'email',
                        error: false
                    },
                    {
                        label: 'Mitteilung',
                        placeholder: 'Was wünschen Sie?',
                        multiline: true,
                        value: 'message',
                        error: false
                    }
                ]
            }

        },

        methods: {
            postContact() {
            }
        },

        components: {
            TextField,
            ButtonComp,
            //   Icon
        }
    }

</script>

