<style lang="sass" rel="stylesheet/scss">

</style>

<template>
    <div>
        HEY WORKy
    </div>
</template>

<script type="text/babel">


    export default {
        name: 'Work',
        mounted() {

        },


    }


</script>

