<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <div class="categories">
        <div class="form-inline">
            <div class="form-group">
                <text-field label="Category" :error="category.error" v-model="category.name"
                            placeholder="Categoryname"></text-field>
                <button type="submit" class="btn btn-success" @click="validateAndCreateCategory">ADD</button>

            </div>
        </div>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(category,index) in categories">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>
                    <button class="btn btn-danger" @click="deleteByIndex(index)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script type="text/babel">
    import TextField from '../../components/Forms/TextField'

    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: 'CategoryIndex',
        computed: {
            ...mapGetters({
                categories: 'blog/GET_CATEGORIES',

            }),

        },

        data() {
            return {
                category: {
                    error: false,
                    name: ''
                }
            }
        },
        methods: {
            ...mapActions({
                fetchCategories: 'blog/FETCH_CATEGORIES',
                createCategory: 'blog/CREATE_CATEGORY',
                delete: 'blog/DELETE_CATEGORY'
            }),
            validateAndCreateCategory() {

                if (this.category.name.length === 0) {
                    this.category.error = true
                } else {
                    this.createCategory({ name: this.category.name }).then(() => {
                        this.category.error = false
                        this.category.name = ''
                    })
                }
            },

            deleteByIndex(index)  {
                this.delete(index)
            },
        },
        mounted() {
            this.fetchCategories()

        },
        components: {
            TextField
        }

    }

</script>

