<style lang="sass" rel="stylesheet/scss">
    .scrambler {
        display: block;
    }
</style>

<template>
<span class="scrambler" @mouseenter="startScrambling" @mouseleave="stopScrambling">
    <slot></slot>
</span>
</template>

<script type="text/babel">

    import { Scrambler } from '../../libs/Scrambler';
    export default  {

        props: {
            once: {
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                scrambler: false,
            }
        },
        methods: {
            startScrambling(e) {
                if (!this.scrambler.isRunning) {
                    this.scrambler = new Scrambler(this.$el, this.once)
                    this.scrambler.startScrambling(e)
                }
            },
            stopScrambling() {
                if (this.scrambler.isRunning) {
                    this.scrambler.stopScrambling()
                }
            },
        }
    }
</script>
