<style lang="scss" rel="stylesheet/scss">
    .modal-wrapper {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        opacity: 1;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-close {

        }
        .modal-content {
            min-width: 90%;
            padding: 25px;
            border-radius: 0px;
            background: white;
            //min-height: 500px;
            // min-width: 500px;
        }
    }
</style>

<template>


    <div class="modal-wrapper" v-if="showModal" @click="_closeModal">
        <div class="modal-content">
            <slot></slot>
            <button type="button" @click="showModal = false" class="btn btn-danger">{{closeButton}}</button>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Modal',
        data()  {
            return {
                showModal: false
            }
        },
        props: {
            closeButton: {
                type: String,
                required: true,
                default: 'Close'
            },
            modalName: {
                type: String,
                required: true,
            }
        },
        methods: {
            open() {
                this.showModal = true
            },

            _closeModal(e) {
                if (this.$el === e.target) {
                this.showModal = false
                    this.$emit('modalClosed', this.modalName)
                }
            }

        },
        watch: {
            showModal(val) {
                if (!val) {
                    this.$emit('modalClosed', this.modalName)
                }
            }
        }
    }
</script>
