<style lang="scss" rel="stylesheet/scss">
    @import '../../../node_modules/quill/dist/quill.core.css';
    @import '../../../node_modules/quill/dist/quill.snow.css';
</style>

<template>
    <div class="editor-wrapper">
        <div ref="editor" class="editor" :style="{ height: height}">
        </div>


        <button type="button" @click="$refs.modal.open()" class="btn btn-info">
            Insert
        </button>
        <modal modalName="mediaManager" closeButton="Close Mediamanager" ref="modal">
            <Media></Media>
        </modal>

        <modal @modalClosed="setImage" modalName="linkModal" ref="linkModal" closeButton="Close Attributed">
            <div class="form-group">
                <label>Link</label>
                <input type="text" class="form-control" v-model="imageAttr.link">
            </div>
            <div class="form-group">
                <label>Alternative Text</label>
                <input type="text" class="form-control" v-model="imageAttr.alt">
            </div>

        </modal>


    </div>
</template>

<script type="text/babel">
    import Media from '../../views/Media/Index'
    import Quill from 'quill'
    import Delta from 'quill'
    import Modal from '../Modal/Modal.vue'
    import bus from '../FileManager/events.js'



    export default {
        computed: {},
        name: 'QuillEditor',
        props: {
            content: {
                required: false,
            },
            options: {
                type: Object,
                default: () =>
                        ({
                            theme: 'snow',
                            modules: {
                                syntax: true,
                                toolbar: [
                                    [ 'bold', 'italic', 'underline', 'strike' ],        // toggled buttons
                                    [ 'blockquote', 'code-block' ],
                                    [ { 'header': 1 }, { 'header': 2 } ],               // custom button values
                                    [ { 'list': 'ordered' }, { 'list': 'bullet' } ],
                                    [ { 'script': 'sub' }, { 'script': 'super' } ],      // superscript/subscript
                                    [ { 'indent': '-1' }, { 'indent': '+1' } ],          // outdent/indent
                                    [ { 'direction': 'rtl' } ],                         // text direction
                                    [ { 'size': [ 'small', false, 'large', 'huge' ] } ],  // custom dropdown
                                    [ { 'header': [ 1, 2, 3, 4, 5, 6, false ] } ],
                                    [ { 'color': [] }, { 'background': [] } ],          // dropdown with defaults from theme
                                    [ { 'font': [] } ],
                                    [ { 'align': [] } ],
                                    [ 'clean' ]                                         // remove formatting button
                                ]
                            }
                        })
            },
            height: {
                required: false,
                type: String,
                default: '500px'
            }
        },
        data() {
            return {
                editor: false,
                currentIndex: 0,
                showMedia: false,
                attrSet: false,
                currentImage: false,
                imageAttr: {
                    alt: null,
                    link: null
                },
                originalAttr: {
                    alt: null,
                    link: null
                },
            }
        },

        mounted() {
            bus.$on('selectingImage', this.insertImage)

            this.editor = new Quill(this.$refs.editor, this.options)

            this.editor.on('text-change', () => {
                this.$emit('text-change', this.editor.container.firstChild.innerHTML)
            })

            this.editor.on('editor-change', () => {
                if (this.editor.getSelection()) {
                    this.currentIndex = this.editor.getSelection().index
                }
            })
            if (this.content) {
                this.editor.clipboard.dangerouslyPasteHTML(this.content)
            }
        },

        methods: {
            setImage(name) {
                if (name === 'linkModal') {
                    this.attrSet = true
                }
            },
            insertImage(image) {
                this.currentImage = image
                //Todo: Change the damn way how the modal works
                if (this.$refs.linkModal) {
                    this.$refs.linkModal.open()
                }
            },
            getQuillInstance() {
                return this.editor;
            },
        },
        components: {
            Modal,
            Media
        },
        watch: {
            // Todo: Fix insert Image on the right place
            attrSet(val) {
                if (val) {
                    var Delta = Quill.import('delta');
                    var image = this.currentImage
                    var attributes = this.imageAttr
                    this.editor.updateContents(
                            new Delta()
                                    .retain(this.currentIndex)
                                    .insert(
                                            { image },
                                            {
                                                link: attributes.link,
                                                alt: attributes.alt
                                            }
                                    ))

                    this.imageAttr = this.originalAttr
                    this.attrSet = false
                }
            }
        }
    }
</script>
