<style lang="scss" rel="stylesheet/scss">

</style>

<template>

    <div class="form-group" :class="{'has-error': error}">
        <label class="control-label"
               :for="label">{{label}}</label>
        <input @input="onChange"
               :id="label"
               :value="value"
               class="form-control"
               :placeholder="placeholder"
               v-if="!multiLine"
               :type="type">
        <textarea
                @input="onChange"
                :placeholder="placeholder"
                :value="value"
                :id="label"
                class="form-control"
                v-else>
        </textarea>
        <slot></slot>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'TextField',
        computed: {},
        props: {
            error: {
                default: false,
            },
            value: {
                type: String,
            },
            placeholder: {
                type: String,
                required: false,
                default: 'Placeholder'
            },
            type: {
                type: String,
                default: 'text',
                required: false,
            },

            label: {
                type: String,
                required: false,
            },
            multiLine: {
                type: Boolean,
                required: false,
            },
            cols: {
                type: Number,
                required: false
            }
        },
        methods: {
            onChange() {
                this.$emit('input', event.target.value)
            }
        }
    }
</script>
