<style lang="scss" rel="stylesheet/scss">

</style>

<template>
<div class="alert alert-danger"></div>

</template>

<script type="text/babel">
    export default {
        name: 'FlashMessage',


    }

</script>

