<style lang="scss" rel="stylesheet/scss">
    .files {
        height: 400px;
        //position:fixed;
        position: relative;
        z-index: 3;
        overflow-y: scroll;
        //Todo: fix this smaller names show full name on hover blablabla
    }

    .selected {
        background: #eee;
    }

</style>

<template>
    <div class="filemanager">
        <div class="row">
            <div class="col-md-6">
                <h2>Folders {{foldersResult.length}}</h2>
                <div class="folders">
                    <hr>
                    <div class="form-group form-inline">
                        <button class="btn-no-style">🔎</button>
                        <input type="text" v-model="searchInFolders" class="form-control">
                        <button
                                v-show="searchInFolders.length !== 0"
                                @click="searchInFolders = ''"
                                class="btn-no-style">x
                        </button>
                    </div>
                    <button v-if="path.length" class="btn btn-info btn-sm" @click="moveUp">...</button>
                    <small>{{path}}</small>
                    <hr>
                    <folder
                            class="folder list-complete-item"
                            v-for="folder in foldersResult"
                            :moveDir="moveToDir"
                            :folderName="folder[nameKey]">
                    </folder>
                    <div class="alert alert-warning" v-show="foldersResult.length === 0">No Folder found</div>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Files {{filesResult.length}}</h2>
                <hr>

                <div class="form-group form-inline">
                    <button class="btn-no-style">🔎</button>
                    <input type="text" v-model="searchInFiles" class="form-control">
                    <button
                            v-show="searchInFiles.length !== 0"
                            @click="searchInFiles = ''"
                            class="btn-no-style">x
                    </button>
                </div>
                <div class="files">
                    <file
                            v-for="file in filesResult"
                            :file="file"
                            :class="{selected: isSelected === file}"
                            :currentPath="previewUrl"
                            class="list-complete-item"
                            @click.prevent
                            :key="file[nameKey]"
                            :fileName="file[nameKey]"
                            :sizeKey="fileSizeKey">
                    </file>
                    <div class="alert alert-warning" v-show="filesResult.length === 0">No files found in {{path}}</div>

                </div>
            </div>
        </div>
    </div>
    <!-- Todo: Split more -->
    </div>
</template>

<script type="text/babel">
    import Folder from './Folder'
    import File from './File'


    function makePath (path) {
        if (typeof path !== 'string')
            return path.join('/')
        return path
    }
    export default {

        name: 'FileManagerComp',

        computed: {
            filesResult() {
                if (this.searchInFiles.length === 0) return this.files
                return this.files.filter((item) => {
                    return item[ this.nameKey ].toLowerCase().includes(this.searchInFiles)
                })
            },
            foldersResult() {
                if (this.searchInFolders.length === 0) return this.folders
                return this.folders.filter((item) => {
                    return item[ this.nameKey ].toLowerCase().includes(this.searchInFolders)
                })
            },
            path() {
                return makePath(this.currentPath)
            },

            previewUrl() {

                var path = makePath(this.currentPath)
                return `${this.urlPrefix}${path}`
            }

        },

        props: {
            files: Array,
            folders: Array,
            currentPath: {
                type: [ Array, String ]
            },
            nameKey: {
                type: String,
                default: 'name',
            },
            fileSizeKey: {
                type: String,
                default: 'state.size',
            },
            statKeys: {
                cTimeKey: {
                    type: String,
                    default: 'ctime'
                },
                mTimeKey: {
                    type: String,
                    default: 'mtime'
                },

            },
            urlPrefix: {
                type: String,
                required: true,
            },
            //Dir Actions
            deleteFileOrFolder: Function,
            moveFileInDir: Function,
            moveUp: Function,
            moveToDir: {
                required: true,
                type: Function
            }
        },

        methods: {
            selectFile(e,file){
               console.log(e);
               // this.$emit('selectFile', e,file)
                this.isSelected = file
            }
        },
        data() {
            return {
                searchInFolders: '',
                searchInFiles: '',
                isSelected: false
            }
        },
        components: {
            Folder,
            File
        }
    }

</script>

