<style lang="scss" rel="stylesheet/scss">


    .file {
        padding: 10px;
        transition: background .4s;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        // position: relative;

        &:hover {
            background: #eee;
            .preview {
                opacity: 1;
                display: block !important;
                translation: all .5s;
            }
        }

        &:before {
            float: right;
            content: attr(data-extension);
            color: white;
            font-size: 12px;
            border-radius: 2px;
            background: indigo;
            padding: 2px;

        }

    }

    .preview {
        opacity: 0;
        box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(61, 70, 77, 0.1);
        transition: top .5s, opacity .5s;

        z-index: 9999;

        position: fixed;
        background: white;
        display: none;
        padding: 10px;
    }

    .spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: 0 auto;
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
        0%, 100% {
            -webkit-transform: scale(0.0)
        }
        50% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes sk-bounce {
        0%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        50% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }


</style>

<template>
    <div
            :data-extension="fileExtension" class="file"
            @click="$refs.contextMenu.close()"
            @mouseenter="setPreview"
            @mouseleave="showPreview = false"
            @contextmenu.prevent="$refs.contextMenu.open($event)">
        {{fileName}} <br>
        {{fileSize}}


        <!-- Todo: (Future) Create dynamic Context menu with dynamic event name   -->

        <context-menu ref="contextMenu">
            <li class="item" @click="insertFile">Insert in Media Manager</li>
            <li class="item" @click="startCropping">Crop Image</li>
        </context-menu>
        <div class="preview" :style="positionStyle" :data-lazy-image="url"
             ref="preview">
            <div v-show="!lazyImage" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <img height="250" :src="lazyImage">
        </div>
    </div>
</template>

<script type="text/babel">
    import ContextMenu from '../ContextMenu/ContextMenu.vue'
    import fileSize from 'filesize'
    import bus from './events.js'
    export default {
        name: 'File',
        data() {
            return {
                showPreview: false,
                positionX: 0,
                positionY: 0,
                selected: false,
                lazyImage: false
            }
        },
        computed: {
            positionStyle() {
                return {
                    'display': this.isVisible ? 'block' : 'none',
                    'top': (this.positionY || 0) + 'px',
                    'left': (this.positionX || 0) + 'px'
                }
            },
            url(){
                return `${this.currentPath}/${this.fileName}`
            },
            fileSize()  {
                //Todo: write a util function for this
                var keys = this.sizeKey.split('.')
                if (keys.length < 2 && this.sizeKey) {
                    return fileSize(this.file[ this.sizeKey ])
                }
                var getSize = this.file;
                while (keys.length > 0) {
                    getSize = getSize[ keys.splice(0, 1)[ 0 ] ]
                }
                return fileSize(getSize)
            },
            fileExtension() {
                return this.fileName.split('.').pop()
            }
        },
        props: {
            file: {
                type: Object,
                required: true
            },
            currentPath: {
                type: String,
                required: true
            },
            sizeKey: {
                type: String,
                required: true
            },
            fileName: {
                type: String,
                required: true
            }
        },
        methods: {
            startCropping() {
                bus.$emit('openCropper', this.file)
            },
            insertFile() {
                bus.$emit('selectingImage', this.url)
            },
            setPreview(e) {
                //Todo: Reload image after Crop but how ...
                if (!this.lazyImage) {
                    var image = new Image()
                    image.src = this.url;
                    image.onload = () => {
                        this.lazyImage = this.url;
                    }
                }
                //Todo: place the preview on the right side
                const { pageX, pageY } = e
                this.positionY = pageY + 15
                this.positionX = pageX
            }
        },
        components: {
            ContextMenu
        },
    }
</script>
