<style lang="scss" rel="stylesheet/scss">
    .folder {
        padding: 10px;
        transition: background .4s;
        cursor: pointer;
        border-bottom: 1px solid #eee;

        &:hover {
            background: #eee;

        }

    }
</style>

<template>
    <div class="folder" @click="moveDir($event,folderName)">
        📁 {{folderName}}
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Folder',
        props: {
            folderName: {
                type: String,
                required: true

            },
            moveDir: {
                type: Function,
                required: true
            }

        },

    }

</script>

