<style lang="sass" rel="stylesheet/scss">

</style>

<template>


    <div class="wrapper">
        <Headline></Headline>
        <div class="page-content container">
            <component :is="component"></component>
        </div>
    </div>
</template>

<script type="text/babel">
    import Headline from '../../components/Headline.vue'


    function getTitle (store, route) {
        var getHeadline = function (route) {
            route = route.toLowerCase()
            var headlines = {
                work: {
                    title: 'Work',
                    slogan: 'Unsere Arbeiten'
                },
                contact: {
                    title: 'Contact',
                    slogan: 'Kontaktieren Sie uns bla'
                }
            }
            return headlines[ route ]
        }

        return store.dispatch('setHeadline', getHeadline(store.state.route.name))
    }


    export default {
        name: 'PageView',

        computed: {
            component() {
                return this.$route.name
            }
        },
        preFetch: getTitle,

        components: {
            Headline
        },
        mounted() {
                    if(this.$root._isMounted) {
                        getTitle(this.$store)
                    }
        },
        watch: {
            '$route'() {
                getTitle(this.$store)
            }
        }
    }

</script>

