.revealer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10020;
  pointer-events: none;
}

.revealer--cornerbottomleft,
.revealer--cornerbottomright,
.revealer--cornertopleft,
.revealer--cornertopright {
  top: 50%;
  left: 50%;
}

.revealer--bottom,
.revealer--top {
  left: 0;
}

.revealer--left,
.revealer--right {
  top: 50%;
  left: 50%;
}

.revealer--top {
  bottom: 100%;
}

.revealer--bottom {
  top: 100%;
}

.revealer__layer {
  transform: translateZ(0);
  will-change:background;
  backface-visibility: hidden;
  transition: background .3s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  //box-shadow: $shadow
}

$shadow: -8px 38px 78px -20px rgba(0,0,0,.1);
//$shadow: none;




.anim--effect-3 .revealer--animate .revealer__layer {
  animation: anim-effect-3-1 1.2s cubic-bezier(.55, .055, .675, .19) forwards;

}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(2) {
  animation-name: anim-effect-3-2;

}

.anim--effect-3 .revealer--animate .revealer__layer:nth-child(3) {
  animation-name: anim-effect-3-3;

}


@keyframes anim-effect-3-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  25%,
  75% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0)
  }
}


@keyframes anim-effect-3-2 {
  0%, 12.5% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  37.5%,
  62.5% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  100%,
  87.5% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0)
  }
}



@keyframes anim-effect-3-3 {
  0%, 25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(.645, .045, .355, 1);
    animation-timing-function: cubic-bezier(.645, .045, .355, 1)
  }
  100%,
  75% {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0)
  }
}
