/*
@import '../../../node_modules/bulma/sass/utilities/variables';
@import '../../../node_modules/bulma/sass/utilities/mixins';
@import '../../../node_modules/bulma/sass/base/classes';
@import './vendor/bulma_helpers.sass';
@import '../../../node_modules/bulma/sass/components/grid';*/
@import '_variables.scss';
@import 'mixins';
@import '../../../node_modules/bulma/sass/elements/other';
@import '../../../node_modules/bulma/sass/utilities/mixins';
@import '../../../node_modules/bulma/sass/grid/columns';
@import '../../../node_modules/ress/dist/ress.min';
@import '_revealer';
@import 'vendor/highlight';
@import 'skins/light';
@import 'markDown';

html, body, #app {
  height: 100%;
}

p {
  margin-bottom:15px;
}

.is-flex {
  display: flex;
}

button {
  outline: none
}

body {
  font-family: Karla, sans-serif;

  transition: color 1s;
  -webkit-font-smoothing: antialiased;
  background: #001bec;
}

h4 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
}

.btn-clean {
  background: none;
  border: none;
  padding: 0;
  outline: none;
}

//Helperffewfwefewfwef

.flex-center {
  align-items: center;
}

a.btn {
  display: inline-block;
}

.btn {
  &.valign {
    display: flex;
    align-items: center;
  }
  transition: all .5s;
  display: block;


  text-transform: uppercase;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  min-width: 210px;
  outline: none;
  padding: 15px 25px;
  position: relative;
  //Todo: Transition

  &.alt {
    padding: 0 !important;
    min-width: inherit;

    svg {
      will-change: transform;
      transition: all .5s;
    }

    &:hover {
      svg {
        transform: translateX(-5px)
      }
    }
  }

  &.slide {
    border-radius: 4px;
    border: 2px solid #FFF;
    &:before {
      transition: all .5s;
      background: white;
      width: 0;
      position: absolute;
      content: " ";
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
    }

    &:hover {
      color: black;
      transition: all .5s;
      &:before {
        width: 100%;
      }
    }
  }
  &.btn-sm {
    padding: 12px 15px;
    min-width: inherit;
    font-size: 16px;
  }
}

svg.icon {
  //display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

//Black Skin

body.black-color {
  .down-arrow, .icon-nav svg {
    fill: $black;
  }

  .mouse {
    border-color: $black;
    .wheel {
      background: $dark;
    }
  }

  color: $black;
  .content svg {
    fill: $black;
  }
  .mobile-toggle {

    span, span:before, span:after {
      background: $black;
    }
  }

  .icon-down {
    fill: $black;
  }

  .navigation {

    ul li a {
      color: $black;
    }
  }
}

/*
Skins:
are added to the body class

body#blue

body { change the main color }
header .logo {}

*/
