<style lang="sass" rel="stylesheet/scss">

</style>

<template>
    <div class="wrapper">
        <Headline></Headline>
        <div class="container page-content">
            <div class="columns">
                <div class="column is-5">
                    <ServiceBox v-for="service in services" :icon="service.icon" :title="service.title"
                                :text="service.text"
                    ></ServiceBox>
                </div>
                <div class="column is-6 is-offset-1">
                    <image-effect :windowWidth="windowSize.width" :windowHeight="windowSize.height"
                                  src="https://s15.postimg.org/ujm4ps4gr/Zeichenfl_che_1.png"></image-effect>
                    <image-effect :windowHeight="windowSize.height" :windowWidth="windowSize.width" link="contact"
                                  src="https://s15.postimg.org/ujm4ps4gr/Zeichenfl_che_1.png"></image-effect>

                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    import ServiceBox from '../components/ServiceBox.vue'
    import Headline from '../components/Headline.vue'
    import ImageEffect from '../components/Image.vue'
    export default {
        name: 'GetStartedVieW',
        data() {
            return {
                windowSize: {
                    width: '',
                    height: '',
                },
                services: [
                    {
                        title: 'Modern & Responsive',
                        icon: 'devices',
                        text: 'Responsive Web Design ist heute Standard. Unsere Websites werden daher immer für Smartphones, Tablets, Notebooks und Desktop-Computer optimiert; es sei denn sehr gute Gründe sprechen dagegen.'
                    },
                    {
                        title: 'Ecommerce',
                        icon: 'cart',
                        text: 'Responsive Web Design ist heute Standard. Unsere Websites werden daher immer für Smartphones, Tablets, Notebooks und Desktop-Computer optimiert; es sei denn sehr gute Gründe sprechen dagegen.'
                    },

                ]

            }
        },
        mounted() {
            window.addEventListener('resize', this.handleResize)
            this.handleResize()

            this.$store.dispatch('setHeadline', { title: 'Home', slogan: 'Welcome Home' })

        },
        methods: {
            handleResize() {
                this.windowSize.width = window.innerWidth
                        || document.documentElement.clientWidth
                        || document.body.clientWidth;

                this.windowSize.height = window.innerHeight
                        || document.documentElement.clientHeight
                        || document.body.clientHeight;
            }

        },
        components: {
            ServiceBox,
            Headline,
            ImageEffect
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.handleResize)
        }
    }
</script>
