<style lang="scss" rel="stylesheet/scss">
    .center-block {
        float: none;
    }
</style>

<template>
    <div class="row">
        <div class="col-md-5 center-block">
            <form @submit.prevent>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input v-model="loginForm.email" id="email" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input v-model="loginForm.password" id="password" class="form-control" type="password">
                </div>
                <button type="submit" @click="doLogin" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">
    import authCheck from '../utils/auth'
    import { mapActions } from 'vuex'
    export default {
        name: 'Login',
        data()  {
            return {
                loginForm: {
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/LOGIN'
            }),

            doLogin() {
                this.login(this.loginForm).then(() => {
                    location.reload();
                })
            }
        },
        mounted() {
        if (authCheck()) {
                this.$router.push('/posts')
            }
        }
    }

</script>

