<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <div class="not-found">

        <h1>404</h1>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'NotFound',
    }

</script>

