<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <component :is="edit">

    </component>
</template>

<script type="text/babel">
    export default {
        name: '',
        props: {
            componentName: {
                type: String,
                required: true,
            }
        },
        watch: {
            '$route'() {
                console.log('route watched')
            }
        }
    }

</script>

