<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link class="navbar-brand" to="/">Dashboard</router-link>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left" v-if="user">
                    <li>
                        <router-link :to="{name: 'posts'}">Posts</router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'categories'}">Categories</router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'media'}">Media Manager</router-link>
                    </li>
                </ul>
                <ul v-if="user" class="nav navbar-nav navbar-right">
                    <li>
                        <p class="navbar-text">Hello, <strong>{{user.username}}</strong>
                            <button class="btn btn-danger btn-sm" @click="doLogout" type="button">Logout</button>
                        </p>
                    </li>
                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<script type="text/babel">
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: 'Navigation',

        computed: {
            ...mapGetters({
                user: 'auth/GET_USER'
            })
        },
        methods: {
            ...mapActions({
                logout: 'auth/LOGOUT'
            }),
            doLogout() {

                this.logout().then(() => {
                    this.$router.push('/login')

                })
            },

        },
    }


</script>