<style lang="scss" rel="stylesheet/scss">

    .context-wrapper {
        position: fixed;
        padding: 0;
        background-clip: padding-box;
        z-index: 99999;
        border-radius: 41px;
        box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(61, 70, 77, 0.1);
    }

    .context-menu {

        top: 100%;
        left: 0;
        z-index: 1000;
        border-radius: 41px;
        margin: 0;
        padding: 0;
        min-width: 160px;
        color: #373a3c;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        li {
            display: block;
            position: relative;
            padding: 10px 12px;
            &:hover {
                background: #eee;
            }
        }
    }
</style>

<template>
    <div v-if="isVisible"
         ref="contextMenu"
         role="menu"
         class="context-wrapper"
         :style="contextStyle">
        <ul class="context-menu">
            <slot></slot>
        </ul>
    </div>
</template>

<script type="text/babel">

    function createListener(fn) {

        let isListening = false

        return {
            get isListening() {
                return isListening
            },

            start(cb) {
                window.addEventListener('click', onClick, true)
                isListening = true
                if (typeof cb === 'function') cb()
            },

            stop(cb) {
                window.removeEventListener('click', onClick, true)

                isListening = false
                if (typeof cb === 'function') cb()
            }
        }

        function onClick(e) {
            e.preventDefault()
            if (typeof fn === 'function') fn(e)
            stop ()
        }

    }

    export default {
        name: 'ContextMenu',
        computed: {
            contextStyle() {
                return {
                    'display': this.isVisible ? 'block' : 'none',
                    'top': (this.positionY || 0) + 'px',
                    'left': (this.positionX || 0) + 'px'
                }
            }
        },

        data() {
            return {
                isVisible: false,
                positionY: 0,
                positionX: 0,
                listener: new createListener((e) => {
                    let isOpen = !!this.isVisible
                    let outsideClick = isOpen && !this.$el.contains(e.target)
                    if (outsideClick) {
                        if (e.which !== 1) {
                            e.preventDefault()
                            e.stopPropagation()
                            return false;
                        } else {
                            this.isVisible = false
                            e.stopPropagation()
                        }
                    } else {
                        this.isVisible = false
                    }


                })
            }

        },
        methods: {
            open(e) {
                this.isVisible = !this.isVisible
                this.isVisible = true
                this.setPosition(e)
                window.addEventListener('resize', this.close)
                this.listener.start()

            },

            setPosition(e) {
                const { pageX, pageY } = e
                this.positionY = pageY - (document.body.scrollTop)
                this.positionX = pageX
            },

            close() {
                this.isVisible = false
            }
        },

        watch: {
            isVisible(newVal, oldVal) {
                if (oldVal === true && newVal === false) {

                    this.listener.stop((e) => {
                    window.removeEventListener('resize', this.close)
                    })
                }
            }
        },

    }


</script>

