<style lang="scss" rel="stylesheet/scss">

    @import '../../../node_modules/choices.js/assets/styles/css/choices.css';
    @import '../../../node_modules/highlight.js/styles/androidstudio.css';

    .editor {
        height: 500px;
    }
</style>

<template>
    <div class="create-post">
        <div class="form-group">
            <p v-if="errors.categories" style="color:#BB4442"><strong>{{errors.categories}}</strong></p>
            <multi-select
                    v-model="post.categories"
                    :searchable="true"
                    :options="categories"
                    track-by="id"
                    :hide-selected="true"
                    label="name"
                    :multiple="true">
            </multi-select>
        </div>
        <text-field label="Title" :error="errors.title" v-model="post.title" placeholder="Title"></text-field>
        <div class="form-group">
            <label>Content</label>
            <Quill></Quill>
        </div>
        <text-field :multiLine="true" :error="errors.excerpt" label="Excerpt" v-model="post.excerpt"
                    placeholder="Excerpt"></text-field>
        <button type="button" class="btn btn-success" @click.prevent="createAndRedirect(post)">Submit</button>

    </div>

</template>

<script type="text/babel">
    import Quill from '../../components/Forms/Quill.vue'
    import { mapActions, mapGetters } from 'vuex'
    import TextField from '../../components/Forms/TextField'
    import MultiSelect from 'vue-multiselect'
    import { validatePost } from '../../../../server/shared/validation'
    export default {
        name: 'PostCreate',
        computed: {
            ...mapGetters({
                categories: 'blog/GET_CATEGORIES'
            }),

        },
        data()  {
            return {
                choices: false,
                errors: {},
                post: {
                    categories: [],
                    title: '',
                    content_html: '',
                    excerpt: '',
                }
            }
        },
        methods: {
            ...mapActions({
                fetchCategories: 'blog/FETCH_CATEGORIES',
                createPost: 'blog/CREATE_POST'
            }),
            isValid() {
                const { isValid, errors } = validatePost(this.post)
                if (!isValid) {
                    this.errors = errors
                }
                return isValid
            },

            createAndRedirect(post) {
                //Get the Content before Submit
                this.post.content_html = document.querySelector(".ql-editor").innerHTML

                if (this.isValid()) {
                    this.createPost(post).then((result) => {
                        this.$router.push({ name: 'posts' })
                    }).catch(e => {
                        this.errors = e.validateErrors;
                    })
                }
            }
        },
        mounted() {
            this.fetchCategories()

            //var editor = new Quill(this.$refs.editor,

        },
        components: {
            TextField,
            MultiSelect,
            Quill,
        }
    }

</script>

