<style lang="scss" rel="stylesheet/scss">
</style>
<template>
    <div class="edit">
        <div class="post">
            <h2>Edit {{originalTitle}}</h2>
            <multi-select
                    v-model="editPost.categories"
                    :searchable="true"
                    :options="categories"
                    track-by="id"
                    :hide-selected="true"
                    label="name"
                    :multiple="true">
            </multi-select>
            <text-field v-model="editPost.title" label="Title"></text-field>
            <div class="form-group">
                <Quill
                        @text-change="textChange"
                        v-if="editPost.content_html" :content="editPost.content_html"
                ></Quill>
            </div>
            <text-field v-model="editPost.excerpt" :multiLine="true" label="Excerpt" placeholder="Excerpt"></text-field>
            <div class="form-group">
                <button class="btn btn-info" @click="updatePost(editPost)">Update</button>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import TextField from '../../components/Forms/TextField.vue'
    import { mapActions, mapGetters } from 'vuex'
    import Quill from '../../components/Forms/Quill.vue'
    import MultiSelect from 'vue-multiselect'
    export default {
        name: 'PostEdit',
        computed: {
            ...mapGetters({
                post: 'blog/GET_POST'
            }),
            categories() {
                return this.$store.state.blog.categories
            },
            selectedCategories() {
                return this.$store.state.blog.categories.filter(item => item.select)
            }
        },
        data() {
            return {
                editPost: {},
                originalTitle: ''
            }
        },
        methods: {
            ...mapActions({
                fetchPost: 'blog/FETCH_POST',
                updatePost: 'blog/UPDATE_POST'
            }),
            textChange(text) {
                this.editPost.content_html = text
            }
        },
        mounted() {
            this.fetchPost(this.$route.params.slug).then(() => {
                this.editPost = JSON.parse(JSON.stringify(this.post))
                this.originalTitle = this.post.title
            })
        },
        components: {
            TextField,
            Quill,
            MultiSelect,
        },
    }
</script>
