<style lang="scss" rel="stylesheet/scss">

</style>

<template>
    <div class="posts">
        <router-link :to="{name:'post-create'}" class="btn btn-success">Create</router-link>
        <hr>
        <div v-if="posts.length === 0" class="alert alert-warning">
            No Posts
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(post,index) in posts">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" @click="deleteConfirm(index)">
                        Trash
                    </button>
                    <router-link :to="'/post/edit/' + post.slug" class="btn btn-info btn-sm"> Edit</router-link>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script type="text/babel">
    import { mapActions, mapGetters } from 'vuex'
    export default {
        name: 'Posts',

        computed: {
            ...mapGetters({
                posts: 'blog/GET_POSTS',
            })
        },
        mounted() {
            this.fetchPosts()
        },
        methods: {
            ...mapActions({
                fetchPosts: 'blog/FETCH_POSTS',
                deletePost: 'blog/DELETE_POST'
            }),

            deleteConfirm(index) {
                var shouldDelete = confirm(`Delete: ${this.posts[ index ].title}`)

                if (shouldDelete) {
                    this.deletePost(index)
                }
            },

    }
    }

</script>

