<style lang="sass" rel="stylesheet/scss">
    @import './assets/styles/main';


    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s ease;
    }

    .fade-enter, .fade-leave-active {
        opacity: 0
    }

    .child-view {
        position: absolute;
        transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }

    .slide-left-enter, .slide-right-leave-active {
        opacity: 0;
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0);
    }

    .slide-left-leave-active, .slide-right-enter {
        opacity: 0;
        -webkit-transform: translate(-30px, 0);
        transform: translate(-30px, 0);
    }
</style>

<template>
    <div id="app">
        <page-header></page-header>
        <router-view class="view"></router-view>
        <page-footer></page-footer>
    </div>
</template>
<script type="text/babel">
    import Navigation from './components/Navigation.vue'
    import PageHeader from './components/Header.vue'
    import PageFooter from './components/Footer.vue'

    export default {
        data () {
            return {
                transitionName: 'slide-left'
            }
        },
        components: {
            PageHeader,
            PageFooter
        },
// dynamically set transition based on route change

    }

</script>



